#root {
  min-height: 100vh;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.container h1 {
  margin: 0;
}

.container p {
  margin: 0;
}