POSTGRES_DB=supmeal
POSTGRES_USER=supmeal
POSTGRES_PASSWORD=change_me
JWT_SECRET=change_me

GITHUB_CLIENT_ID=change_me
GITHUB_CLIENT_SECRET=change_me
GITHUB_CALLBACK_URL=http://localhost:3000/auth/github/callback
CLIENT_URL=http://localhost:5173